
// importing google fonts
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400,500,600,700&display=swap')


// Global variables

// colors

$black:   #000
$white:   #fff

$color-body: #b6cbce
$color-heading: #fff
$color-base: #252b2c
$color-base2: #606464
$color-brand: #00FF00
$color-brand2: #deff58
$color-border: #858080



$sidebar-width: 360px
$font-base: "Bai Jamjuree"
